* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(3, 1, 15);
  color: #fff;
  font-family: "Poppins";
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.operator {
  background-color: #005db2;
  color: #339dff;
}
.number {
  background-color: #303136e1;
  color: #29A8FF;
}
.clear {
  background: #616161;
  color: #a5a5a5;
}
.equals {
  background: #1991ff;
  color: #b2daff;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  outline: none;
}



.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background: #17181a;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
